<app-custom-header pageTitle="Configuración"></app-custom-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item button (click)="openCuentaModal()">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label>
                <h2>Cuenta</h2>
                <p>Gestiona tu información personal</p>
            </ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>

        <ion-item button (click)="openEstiloModal()">
            <ion-icon slot="start" name="color-palette-outline"></ion-icon>
            <ion-label>
                <h2>Estilo</h2>
                <p>Personaliza la apariencia de la aplicación</p>
            </ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>

        <ion-item button (click)="openMenuVisibilityModal()">
            <ion-icon slot="start" name="eye-outline"></ion-icon>
            <ion-label>
                <h2>Visibilidad del Menú</h2>
                <p>Configura la visibilidad del menú lateral</p>
            </ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>