ion-toolbar{
    --ion-background-color: #333333;
    color: white;
}

ion-menu{
    --ion-background-color: #333333;
}

ion-item {
    --color: #fff;
  }
  
  ion-label {
    color: #fff; 
  }
  
  ion-icon {
    color: #fff;
  }